apiVersion: apps/v1
kind: Deployment

metadata:
  name: playground
  namespace: dev
  labels:
    app: playground

spec:
  selector:
    matchLabels:
      app: playground
  template:
    metadata:
      labels:
        app: playground
    spec:
      containers:
      - name: playground-container
        image: wil42/playground:v2
        ports:
        - containerPort: 8888